// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #1fbdcb;
$yellow: #f3c237;
$orange: #E67E22;
$green: #70c87b;
$gray: #000000;
$light-gray: #F4F4F4;
$light-gray2: #dbdbdb;
$dark-gray: #333333;
$white-smoke: #f2f2ed;
