<div class="footer">
  <div class="footer-links">

    <%= link_to "https://github.com/aquellier/CHICKENS_GANG", target: "_blank" do %>
      <i class="fab fa-github"></i>
    <% end %>

  </div>

  <div class="footer-copyright">
    This footer was made with <i class="fa fa-heart"></i> by Diogo, Joana, Antoine & Catarina
  </div>

</div>




