  <div id="about" class="container-home-cards">
    <h2 class="text-center">About us, about you...</h2>
    <div class="row"></div>
      <div class="home-cards">
        <!-- Code your cards  here -->
        <div class="col-xs-12 col-sm-6 col-md-3">
          <a href="#testimonials">
            <div class="home-card card1">
              <div class="home-card-body" >
                <div class="home-card-text">
                  <h3>Our values</h3>
                  <p>Charming room in Shanghai</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="home-card card2">
              <div class="home-card-body">
                <div class="home-card-text">
                  <h3>Our mission</h3>
                  <p>Charming room in Shanghai</p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="home-card card3">
              <div class="home-card-body">
                <div class="home-card-text">
                  <h3>Your happiness</h3>
                  <p>Absurdly Fresh Groceries:
                    <br>
  Picked yesterday, caught last night, baked this morning. These are probably the freshest groceries you've ever tasted.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
