<div class="container-chickens" id="chickens">
    <h2 class="text-center">Learn more about chicken breeds</h2>
    <div class="row">

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <img src="https://pbs.twimg.com/profile_images/828897965527953414/ySWWUFXy_400x400.jpg" class='farmer-picture' alt="">
            <div class="chicken-content">
              Gangs of Chickens gives farmers easy access to the customers in their area. It is important for us to be listed so that everyone can see which products we provide. This is about chickens and eggs of course, but this is also far more than this!
            </div>
            <div class="chicken-author">
              <strong>Joao Paulinho</strong>
              <br>
              Sácario, São João das Lampas, Portugal
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <img src="https://pbs.twimg.com/profile_images/998658497158901760/KxW9FpIo_400x400.jpg" class='farmer-picture' alt="">
            <div class="chicken-content">
              After getting a profile I have experienced a significant increase in people contacting me. I’m only active on Gangs of, so they get the full credit for this.
            </div>
            <div class="chicken-author">
              <strong>Joao Paulinho</strong>
              <br>
              Sácario, São João das Lampas, Portugal
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0DEveOgFi_Jka2H_EFM1fCHdAPi63_LmgG6JxZOnOgHw2oe57" class='farmer-picture' alt="">
            <div class="chicken-content">
              Gangs of Chickens made it possible for my company to get online in a matter of minutes. Now we have an online profile on Gangs of Chickens showing all the kind of eggs we offer, which is something we have wanted for a long time. We don't have to think about complicated website maintenance or online marketing - it's all handled by Gangs of Chickens
            </div>
            <div class="chicken-author">
              <strong>Joao Paulinho</strong>
              <br>
              Sácario, São João das Lampas, Portugal
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <img src="http://www.agfoundation.org/files/Casey.jpg" class='farmer-picture' alt="">
            <div class="chicken-content">
              I would rather work in the fields then spending a lot of time in front of the computer. As a consequence, I have never had the motivation to go through the complex process of creating and maintaining a website for my business. However, the team behind Gangs of Chickens have made everything so simple, that even I had a Gangs of Chickens profile up and running in a matter of minutes.
            </div>
            <div class="chicken-author">
              <strong>Joao Paulinho</strong>
              <br>
              Sácario, São João das Lampas, Portugal
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3Q33_sgMw3thAKvGjfEHm5s30IgQ9-sY6cfsh67gjk9T50hRArQ" class='farmer-picture' alt="">
            <div class="chicken-content">
              I raise very specific breeds of chickens and offer rare types of eggs and after creating a profile on Gangs of Chickens I have got several new regular customers. I don’t have a website, so this is the perfect way for me to get found online.
            </div>
            <div class="chicken-author">
              <strong>Joao Paulinho</strong>
              <br>
              Sácario, São João das Lampas, Portugal
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <img src="https://unionpaysanne.com/wp-content/uploads/2016/05/Pierre-Paul-Rocheleau.jpg" class='farmer-picture' alt="">
            <div class="chicken-content">
              I am a farmer and all my field work is outsourced to contractors. Gangs of Chickens gives me a much-needed overview of all the contractors in my area and more importantly, I can see details about the machines they are using
            </div>
            <div class="chicken-author">
              <strong>Joao Paulinho</strong>
              <br>
              Sácario, São João das Lampas, Portugal
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <img src="https://unionpaysanne.com/wp-content/uploads/2016/05/Pierre-Paul-Rocheleau.jpg" class='farmer-picture' alt="">
            <div class="chicken-content">
              I am a farmer and all my field work is outsourced to contractors. Gangs of Chickens gives me a much-needed overview of all the contractors in my area and more importantly, I can see details about the machines they are using
            </div>
            <div class="chicken-author">
              <strong>Joao Paulinho</strong>
              <br>
              Sácario, São João das Lampas, Portugal
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <img src="https://unionpaysanne.com/wp-content/uploads/2016/05/Pierre-Paul-Rocheleau.jpg" class='farmer-picture' alt="">
            <div class="chicken-content">
              I am a farmer and all my field work is outsourced to contractors. Gangs of Chickens gives me a much-needed overview of all the contractors in my area and more importantly, I can see details about the machines they are using
            </div>
            <div class="chicken-author">
              <strong>Joao Paulinho</strong>
              <br>
              Sácario, São João das Lampas, Portugal
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <img src="https://unionpaysanne.com/wp-content/uploads/2016/05/Pierre-Paul-Rocheleau.jpg" class='farmer-picture' alt="">
            <div class="chicken-content">
              I am a farmer and all my field work is outsourced to contractors. Gangs of Chickens gives me a much-needed overview of all the contractors in my area and more importantly, I can see details about the machines they are using
            </div>
            <div class="chicken-author">
              <strong>Joao Paulinho</strong>
              <br>
              Sácario, São João das Lampas, Portugal
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
