<div class="container-chickens" id="chickens">
    <h2 class="text-center">Learn more about chicken breeds</h2>
    <div class="row">

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <div style="text-align: center"><img src="https://petstockimages.blob.core.windows.net/petstockresources/chicken-red.jpg" class='chicken-picture' alt=""></div>       <div class="chicken-content text-center">
              <strong>Isa browns</strong> are adorable and affectionate little feathered friends that can produce up to a whopping 300-350 eggs per year! These American bred girls are really in a league of their own when it comes to egg production,  and many of them start to lay as soon as 16 weeks!
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <div style="text-align: center"><img src="https://img.clasf.co.za/2016/06/29/SILKIE-CHICKENS-FOR-SALE-20160629111239.jpg" class='chicken-picture' alt=""></div>
            <div class="chicken-content text-center">
              <strong>Silkie</strong> chickens are exactly as they look - funny, cuddly and very kind.Silkies have a long and proud history. There's a great deal of information about the Silkie in ancient Chinese writings - the Silkie are said to have medicinal powers beyond any other chicken breed.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <div style="text-align: center"><img src="https://www.mypetchicken.com/images/product_images/Popup/Heritage-Barred-Rock-Hen.jpg" class='chicken-picture' alt=""></div>
            <div class="chicken-content text-center">
              <strong>Barred Plymouth Rocks</strong> or Barred Rocks, as they're called, are one of the most popular dual-purpose chickens on small farms today. Their heritage is unclear with reports of different crosses, but what is clear is that they're very friendly and great layers of large brown eggs.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <div style="text-align: center"><img src="https://i.pinimg.com/originals/d5/7c/70/d57c7063d8caa8d714b17cbe959549de.jpg" class='chicken-picture' alt=""></div>
            <div class="chicken-content text-center">
              <strong>Araucanas</strong> are eye-catching chickens that always leave an impression in or outside the coop. These uniquely feathered blue egg laying beauties sure know how to stand out in a world cluck-full of all kinds of pretty poultry. From their energetic personalities to their distinctive featherings, there is simply nothing ordinary about Araucana chickens.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <div style="text-align: center"><img src="https://www.mypetchicken.com/images/product_images/Popup/BuffBrahmaBreederHen.jpg" class='chicken-picture' alt=""></div>
            <div class="chicken-content text-center">
              The <strong>Brahma</strong> chicken breed is the gentle giant of the chook world. These girls are striking to look at with feathered feet, a large and cuddly body and bouncy tail. Brahma chickens make great pets for families and are happy foraging calmly in confined areas of your garden.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <div style="text-align: center"><img src="https://lh3.googleusercontent.com/gjHCTgP63wBrDnN-CXiKIO1Unx7xMvR1eo6BbjRQfnJds8_RdlKkFQaVW0bdksJ6TYMfa52OcvR0v_k8Hk0mbdXVNPuWaTIUM2KVS8Oe2HtIbCKcEWr2D3sCPgNz8_tp6U2EkwCfbBU6ZcRs2v_ZuuCozJ7BkCt9GeinmiTbKHDa_g61weRgM58aogGJUDXvaYzqVFfHJ_e6L-WXgMG7H1L0cK6usaqbQcW0bAL3bS644V9VUH-74z4Y6b7DxQITYpaoJeIwQ95ALUVosHEjC37c8CbWs2dxwQARRA13jYSzLvpUEJ6x0mJKWsxItGNSL_4YlNb5tz4ynsXE9vDZaXyLB0DjoMEObNbCNmlFPlVslxgBMI7mlULZroQFkg5pl58TU0TyF25NP34pu6648Aa4MAa37xhFvcIfSeRqD2L6U2xslVIuLaFNHA9Sq7_Hi5MABhS7p_hqQb220zjSukodiY3w8s3fnkWBcTB3NQwBN97qj_wo48UBxyMDb3ac6cl03mClk4-NTZzzUm1g1IOCvq4Obpe_xPON48b564uH8SfQlwyxJQbtDQ8hOGWhHJnddTOZJYroQHpxHGC5oVys2THK5zGQUu8Kq3UJ3uzeK4T3XU-pCH-UIaVVsD-vJWNLoJI9b8Kfv6iOmZPGCSEkKp93eCML=w1308-h1306-no" class='chicken-picture' alt=""></div>
            <div class="chicken-content text-center">
              The <strong>Pekin bantam chook</strong> is a true bantam chicken, diminutive in size but large in love-ability. In fact they are one of the few true bantams that exist in the chicken world. Bantam breeds can be categorized into two types – true and miniature standard. Miniature standard bantams are chickens that have been bred to be smaller versions of their larger chicken breed namesakes but true bantams have been developed as unique breeds that have no standard sized counterparts.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <div style="text-align: center"><img src="https://2.bp.blogspot.com/-VrpyH6AWAU8/VjsNdzrntaI/AAAAAAAABjw/-oDZI1D6ZiQ/s600/Ancona%2BChicken.jpg" class='chicken-picture' alt=""></div>
            <div class="chicken-content text-center">
              A true Mediterranean breed, the <strong>Ancona</strong> sports feathers that hug their body tightly, clean legs, light coloured skin (typically white or pale yellow) and white earlobes.  Their bright yellow legs and upper beak are streaked with black. Other not so common varieties are the Blue and Red Ancona, both with white speckled feathers.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <div style="text-align: center"><img src="https://www.mypetchicken.com/images/product_images/Popup/SFhen3-001.jpg" class='chicken-picture' alt=""></div>
            <div class="chicken-content text-center">
              Developed in Northern France at the turn of the 20th century, <strong>Faverolles</strong> are a fluffy and feathery breed famous for their genial nature and good looks. Faverolles is a composite breed created from a combination of Cochins, Houdans and Dorkings that is big, strong and healthy in size, as well as being regular and reliable layers.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chicken-card">
          <div class="chicken-body">
            <div style="text-align: center"><img src="https://cdn.shopify.com/s/files/1/0614/7117/products/P9120099_1024x1024.JPG?v=1410548938" class='chicken-picture' alt=""></div>
            <div class="chicken-content text-center">
              <strong>Leghorn</strong> chickens are adventurous, spirited, friendly and wondrous egg-layers. First developed in Livorno (Italian for “Leghorn”) in Tuscany and brought to Britain in the late 1800s, they became a popular purebred chicken in America and later Australia. The Leghorn chickens’ egg laying prowess, savvy attitudes and bold personalities made them the most common purebred fowl in Australia in the early to mid 1900s.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
