<div class="banner farmer" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://www.agri-pulse.com/ext/resources/images/Agriculture-photos/Farmscapes/Farm1.jpg?1509734744');">
    <div class="banner-content">
      <h1>Become a farmer</h1>
      <%= link_to "Add your first chicken gang", new_chickens_gang_path, class: 'btn btn-success btn-lg'%>
    </div>
  </div>


  <!-- Messages about why it's cool to join our business -->
  <div class="big-wrapper">
    <div class="container-messages">
      <div class="message">
        <div class="message-picture">
          <img src="https://image.flaticon.com/icons/svg/123/123400.svg" alt="">
        </div>
        <div class="message-content">
          <h3>We take care of the business</h3>
          <p>No need to brush up your marketing skills, or learn accounting. You will not need to worry about any aspect of the business side, just that the eggs are organic.</p>
        </div>
      </div>
      <div class="message">
        <div class="message-picture">
          <img src="https://image.flaticon.com/icons/svg/686/686379.svg" alt="">
        </div>
        <div class="message-content">
          <h3>Get clients</h3>
          <p>You don't have to lose time trying to get new clients. Through Gangs of Chicken, you will get access to thousands of users that will be interested in your product.</p>
        </div>
      </div>
      <div class="message">
        <div class="message-picture">
          <img src="https://image.flaticon.com/icons/svg/189/189093.svg" alt="">
        </div>
        <div class="message-content">
          <h3>Make money</h3>
          <p>We only take a small percentage of the commission :) </p>
        </div>
      </div>
    </div>
  </div>



