<div class="banner" style="background-image: url('https://s33.postimg.cc/uz9f6k6sv/background_chicken2.png');">
  <div>
    <h1>GANGS OF CHICKENS</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= link_to "Discover Chickens", chickens_gangs_path, class: 'btn btn-success' %>
  </div>
</div>

  <div class="container">
    <h2 class="text-center">About us, about you...</h2>
    <div class="home-cards">
      <!-- Code your cards  here -->

      <div class="home-card card1">
        <div class="home-card-body" >
          <div class="home-card-text">
            <h3>Our values</h3>
            <p>Charming room in Shanghai</p>
          </div>
        </div>
      </div>

      <div class="home-card card2">
        <div class="home-card-body">
          <div class="home-card-text">
            <h3>Our mission</h3>
            <p>Charming room in Shanghai</p>
          </div>
        </div>
      </div>

      <div class="home-card card3">
        <div class="home-card-body">
          <div class="home-card-text">
            <h3>Your welfare</h3>
            <p>Charming room in Shanghai</p>
          </div>
        </div>
      </div>
    </div>
  </div>
