<div class="banner" style="background-image: url('https://s33.postimg.cc/uz9f6k6sv/background_chicken2.png');">
  <div>
    <h1>GANGS OF CHICKENS</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= link_to "Discover Chickens", chickens_gangs_path, class: 'btn btn-success' %>
      <a href="#about"><h3><i class="fas fa-arrow-circle-down"></i></h3></a>
  </div>
</div>


<%= render 'about' %>

<div class="home-separator1"> <h2>This is about chickens and eggs of course, but this is far more than this.</h2></div>

<%= render 'testimonials' %>

<div class="home-separator2"></div>


<div class="home-separator3"></div>

<%= render 'testimonials' %>

<!-- <script type="text/javascript">
  var imgTag = new Image();
  var canvas = document.getElementById('icanvas');
  var ctx = canvas.getContext("2d");
  var x = canvas.width;
  var y = 0;

  imgTag.onload = animate;
  imgTag.src = "http://i.stack.imgur.com/Rk0DW.png";   // load image

  function animate() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);  // clear canvas
    ctx.drawImage(imgTag, x, y);                       // draw image at current position
    x -= 4;
    if (x > 250) requestAnimationFrame(animate)        // loop
  }
</script>
 -->
