<div class="banner" style="background-image: url('https://s33.postimg.cc/uz9f6k6sv/background_chicken2.png');">
  <div>
    <h1>GANGS OF CHICKENS</h1>
    <p>Get fresh eggs, save the world.</p>
  </div>
</div>
