

      <h1>Your messages</h1>

      <!-- Code your tabs here -->

      <ul class="inbox">
        <li class="message">
          <!-- Code your message here -->
          <img src="https://lh3.googleusercontent.com/WQqkOy0Q68wsgTm94latTLaP7D7dSzJvS2U_d6PRSSmjXr-KtN1mPiWLt6AZlucxfuD6LZ-v732vKFR8oTx04HFrOcG0NF8bycKyDbNwYpEwEPOl7iJq8KkqNPi_hDKW48P0Y_VkYecNeQrLAjhsMN_FT1VOTrhXyvJrrwNDxcKUOQ0E3Ru9U72QhprIgAOxovY7nACzqlG3ZfbsxDrJJY-lYbNhLowaBWxV1L59YADS8hnT2Q0BLoraCZGvPlgUF5fhavYpPgbAPLFidF9Xw8oyd8xZrKD9mCyteTZfrFTpMcdd9wnxGiwLHOcBWpgIaXnnnWV3TTl_aeZDRwlB_XdN6ZCNGVhM99NEoAQmZ4QE_7_iCdpktQ6q6fc4UHLoatrxcKlZuUgqvXN1VKKwrIboJ2XxkbsL_Tgut1Imhek0FZRkwtbtiF9wIgUUywbXPaYRGSEmFKahZDp3pfgdl_KfH6D9BoY8E1GpY_yDoMDFxA39APNEJrACk4NJvQ3j6rLz_hoflWOZaOa1UMZTlX6Zr3e8tgNVJciom93e0JjFCXBhtQM2AYdQLs85xvK1wUqhDa028iO-z7SnMzIdByK77LCpYUMdBPvjSSmWnEA8SBET49LmjaFkPvZRjWePbq7Wf376GnbZbwh5C4RrqoB7QQ6lm8ot=s1306-no" class="avatar">
          <div class="message-name">
            <p><strong>Swen</strong></p>
            <p class="gray">31/05/18</p>
          </div>
          <div class="message-body">
            <p><strong>Geile Hühnen</strong></p>
            <p class="gray">Hallo Diogo, deine Hühnchen sehen sehr geil aus! Die Eier sollen echt gut sein!</p>
          </div>
          <div class="message-status">
            <p  class="pending">Pending</p>
            <p>€25</p>
          </div>
        </li>

        <li class="message">
          <!-- Code your message here -->
          <img src="https://media.licdn.com/dms/image/C4E03AQGYKS_CjHAh0A/profile-displayphoto-shrink_200_200/0?e=1529388000&v=beta&t=Zi1W59Kekr_Mdo0H-l6Oy-ay0nWe5x8z41NIKQwaNF4" class="avatar">
          <div class="message-name">
            <p><strong>Shannon</strong></p>
            <p class="gray">25/05/18</p>
          </div>
          <div class="message-body">
            <p><strong>Giant Omelet</strong></p>
            <p class="gray">Hey!!! I'm doing a giant omelet party on June 15th. I'd like to rent all your gangs. Are they available? </p>
          </div>
          <div class="message-status">
            <p class="accepted">Accepted</p>
            <p>€360</p>
          </div>
        </li>

        <li class="message">
          <!-- Code your message here -->
          <img src="https://lh3.googleusercontent.com/zrk_VP72HlEUIUVTdjJPOWpMyltIUF4Cp92SmiqF0ZANOHDs7OQwBEC59aLc7MTb1asf4ZNPu6F5eghKvQ2Xw8uU8sPcbM4M_70ZLpmRzeXavqYFlhJzaDdgnQTwCE6uomcqU93EoThSdEHp0BT62sITmMley5F4MPMhN21V2H2HRWtInvJIBjvcDsLu4Yg3G41dSkd-3l6nhNCE8qqrCld9dmot9v2cQ2TgP4uxNz3rpbL-e4evkg3cTR8TryrwQ7GCT-mDM1f6e4XxIGtPUIjQj4bdKW2SPtQBeWQYa2IbjwJug6Hi38XFiPbjSwf7PgY4_6Joo3uW_R-xWJzsyMPpHMHJ1ueSQRiwVUkzoYzVL-_eFkvbMlEzXS5zdhOdhsSa6sRZ79WuuWUhT1OLnOFuCvRR24OtNOg0lvvUbI-9nURpeJTgsI5ZBM7g1XNXEv-HqDc1zXvwbVGXaCSQt5DxJDYfvDYIZ3lGgDpDtrGotLc1vu961N6kcB0sWGjN2wHRnJ5YCsYxy3h0G6bGP9hGCXPXtD8BP3JDPw8-297D3v_vYT0X7Rk8-mkfLBB-M1c3RX519e_Jv1LSoZRRHF123VJlN0Wzhuw3zHfvlWHGuRHQyJDJteFeDjRNYlKk9zXGgmkdFUFLtWAdIe8e-pLlOlw5opdM=w1308-h1306-no" class="avatar">
          <div class="message-name">
            <p><strong>Turlututur</strong></p>
            <p class="gray">19/08/17</p>
          </div>
          <div class="message-body">
            <p><strong>Eating Chicken</strong></p>
            <p class="gray">Hey man! Can I cook your chickens?</p>
          </div>
          <div class="message-status">
            <p class="declined">Declined</p>
            <p>€60</p>
          </div>
        </li>
      </ul>

