.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.avatar-big {
  margin-top: 150px;
  position: absolute;
  border: 2px solid $white-smoke;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
