.container-chickens {
  height: 100vh;
  margin: 40px;
  flex-wrap: wrap;
  h2 {
    margin: 20px;
  }
}

.chicken-card {
  position: relative;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.chicken-body {
    position: relative;
    margin-bottom: 10px;
    height: 200px;
    border-radius: 8px;
    text-overflow: clip;
    overflow: hidden;
}

.chicken-picture {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.chicken-content {
  font-size: 12px;
  padding-top: 10px;
  font-weight: lighter;
}
