.big-wrapper {
  width: 100%;
  min-height: calc(100vh - 170px);

}

#map {
  height: calc(100vh - 70px);
  width: 30%;
  float: left;
  position: sticky;
  top: 10px;

}

.results-container {
  margin-right: 30px;
  float: right;
  width: 67%;
}
