.big-wrapper {
  width: 100%;
  min-height: calc(100vh - 170px);
  height: calc(100vh - 70px);

}

#map {
  height: 100%;
  width: 30%;
  float: left;
  position: sticky;

}

.results-container {
  height: 100%;
  padding: 20px;
  float: right;
  width: 70%;
  overflow-y: scroll;
}
