// .message {
//   padding: 0px;
//   border-bottom: 1px solid rgba(220,224,244,0.4);
//   padding-left: 0;
// }

.reviews-message {
  display: flex;
  padding: 0px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  padding-left: 0;
  margin-left:10px;
}

.reviews-user{
 min-width: 100px;
}



.reviews-body{

}
