.container-testimonials {
  height: 100vh;
  margin: 100px;
  flex-wrap: wrap;
}

.testimonial-card {
  position: relative;
  padding: 0 40px;
}

.testimonial-body {
  position: relative;
  padding-left: 115px;
  margin-bottom: 30px;
  min-height: 185px;
  background-color: white;
  border-radius: 8px;
}

.farmer-picture {
  position: absolute;
  width: 115px;
  height: 115px;
  top: 90px;
  left: -40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 3px solid white;
  -webkit-box-shadow: 0 2px 26px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 26px 0 rgba(0,0,0,0.2);
  z-index: 10;
}

.testimonial-content {
  font-size: 13px;
  padding-top: 15px;
  font-weight: lighter;
}

.testimonial-author {
  font-size: 12px;
  margin-top: 15px;
  position: absolute;
  bottom: 2px;
  left: 10px;
}
