<div class="container">
  <h1 class="text-center">Edit the Chickens Gang!</h1>
    <%= render "form", chickens_gang: @chickens_gang %>
</div>
<div class="text-center">
      <%= link_to "Back", @chickens_gang, class: "btn btn-danger" %>
</div>
