<div class="big-wrapper">

  <div class="results-container">
    <%= render "search" %>
    <h1>Chickens Gangs around you</h1>
    <div class="row">
      <% @chickens_gangs.each do |chickensgang| %>
        <%= render "card", chickensgang: chickensgang %>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>">
  </div>

</div>
