<div class="container">

<div class="results-container">
  <h1>Available Chickens Gangs</h1>

  <p> Please click on a Chicken Gang for more information.</p>

    <div class="row">
      <% @chickens_gangs.each do |chickensgang| %>

      <%= render "card", chickensgang: chickensgang %>
      <% end %>
    </div>
 </div>
  <div id="map" data-markers="<%= @markers.to_json %>">
  </div>
  
</div>