<div class="container">

  <h1>Available Chickens Gangs</h1>

  <p> Please click on a Chicken Gang for more information.</p>

  <div class="row">
    <% @chickens_gangs.each do |chickensgang| %>

    <%= render "card", chickensgang: chickensgang %>
    <% end %>
  </div>
  <button>
    <%= link_to "Add a new chicken gang",new_chickens_gang_path %>
  </button>
</div>
