<div class="container">

  <h1>My Gangs</h1>
  <table>
  <thead>
    <tr>
      <th>Gang Name</th>
      <th>Booked?</th>
      <th>User name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_chicken_gangs.each do |gang| %>
     <% @all_rentings.each do |renting| %>
      <tr>
        <td><%= gang.gang_name%></td>
        <% if gang.id == renting.chickens_gang_id %>
          <td>Yes</td>
        <% else %>
          <td>No</td>
        <% end %>
      </tr>
     <% end %>
    <% end %>
  </tbody>


</table>
</div>
