<div class="chicken-wrapper2">
  <div class="container">

    <h1 class="text-center" style="color:white; font-weight: lighter;">New Chickens Gang</h1>
    <%= render "form", chickens_gang: @chickens_gang %>

  </div>
  <hr>
</div>

