<div class="container">
  <h1>New ChickensGangs</h1>
  <%= render "form", chickens_gang: @chickens_gang %>
</div>
<div class="text-center">
  <%= link_to "Back", chickens_gangs_path, class: "btn btn-danger" %>
</div>
