<div class="container">
  <h1> <%=@chickens_gang.gang_name%></h1>


  <p> Breed: <%= @chickens_gang.breed %></p>
  <p> Breed: <%= @chickens_gang.breed %></p>
  <p> Breed: <%= @chickens_gang.breed %></p>





  <p>Find me in app/views/chickens_gangs/show.html.erb</p>
</div>
